.top-menu {
    margin-top: 20px;
}

#tabs {
    height: 42px;
}

.closeTab {
    margin: -9px -10px 0 10px;
    outline: none;
}

#tabs li a {
    outline: none;
}

.report-select {

}

.dropdown {
    margin-top: 8px;
}

#tab-content {
    margin-top: 10px;
}

.parameters {
    padding: 20px;
}

.content {
    text-align: center;
}

.content table {
    text-align: left;
}

.parameters {
    text-align: left;
    padding-bottom: 25px;
}

.apply {
    margin-left: 20px;
}

#endPeriod {
    margin-right: 55px;
}

.form-inline span {
    margin-left: 10px;
    margin-right: 10px;
}

.form-inline span:first-child {
    margin-left: -10px;
}