.top-menu {
    margin-top: 20px;
}

#tabs {
    height: 42px;
}

.closeTab {
    margin: -9px -10px 0 10px;
    outline: none;
}

#tabs li a {
    outline: none;
}

.report-select {

}

.dropdown {
    margin-top: 8px;
}

#tab-content {
    margin-top: 10px;
}